<div class="summary">
    <div class="title">Ghana Summary Report</div>
    <div class="data-blocks-group">
        <div class="data-blocks">
            <div class="data-block-title">New Confirmed Cases</div>
            <div class="data-block-value">{{ mainCountry.NewConfirmed }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-block-title">Total Confirmed Cases</div>
            <div class="data-block-value">{{ mainCountry.TotalConfirmed }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-block-title">New Deaths Count</div>
            <div class="data-block-value">{{ mainCountry.NewDeaths }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-block-title">Total Deaths Count</div>
            <div class="data-block-value">{{ mainCountry.TotalDeaths }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-block-title">New Recovered Cases</div>
            <div class="data-block-value">{{ mainCountry.NewRecovered }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-block-title">Total Recovered Cases</div>
            <div class="data-block-value">{{ mainCountry.TotalRecovered }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-block-title">Date</div>
            <div class="data-block-value">{{ mainCountry.Date }}</div>
        </div>
    </div>
</div>

