
.summary {
    width:460px; 
    float: left;
    margin:10px; 
    background-color: rgba(6, 9, 43, 0.705);
    text-align: center;
    border-radius: 5px;
}

.title {
    background: white; 
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 10px; 
    border-bottom: solid black 2px;
    border-radius: 5px;
    text-shadow: 1px;
}

.data-blocks {
    background: rgb(6, 18, 19);
    padding: 10px; 
    margin: 5px;     
}

.data-block-title {
    text-shadow: 1px 1px 1px black ;
}